<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <ol class="form-group">
    <mat-radio-group aria-labelledby="quiz-form-radio-group" formControlName="answer" name="answer"
                     (change)="radioChange($event.value)" required>
      <div class="radio-options" *ngFor="let option of question.options">
        <mat-radio-button name="option-radio-button" class="option" [value]="option.optionValue"
                          [checked]="question.selectedOption == option">
          <li>{{ option.optionText }}</li>
        </mat-radio-button>
      </div>
    </mat-radio-group>
  </ol>
</form>
