$font-stack: Space Mono, monospace;
$font-weight-max: 900;

ol {
  margin-top: 15px;
  margin-left: -40px;
  cursor: pointer;
}
ol li {
  margin-left: 30px;
}

.radio-options {
  margin-bottom: 5px;
  margin-left: 0.5rem;
  padding: 4px;
}

.option {
  border: 2px solid #979797;
  font-family: $font-stack;
  font-size: 20px;
  color: #0f0900;
  background-color: #f5f5f5;
  width: 39rem !important;
  height: auto;
  padding: 5px 5px 0 30px;
  margin-left: -5px;
  vertical-align: middle;
}
.option:hover {
  outline: 2px solid #007aff;
}

.feedback-icon {
  position: absolute;
  right: 0;
  margin-right: 40px;
  margin-top: -25px;
}

::ng-deep .mat-radio-button .mat-radio-container {
  display: none;
}
